/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #85bafc;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

main {
    padding: 20px;
}

.schedule {
    overflow-x: auto;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align: top; /* Added for alignment */
}

th {
    background-color: #70b0f8;
    color: #fff;
}

#homework {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#homework h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

#homework ul {
    list-style: none;
    padding: 0;
}

#homework li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

#homework li:last-child {
    border-bottom: none;
}
